{% extends 'base/base.html' %}
{% block title %}Home{% endblock title %}
{% block maincontent %}

    <div class="container mt-5">
        <h3 class="text-center alert alert-info">Select Stocks to Watch, Use Ctrl Key to Select Multiple</h3>
        <form action="/stocksinfo">
            <select class="form-select" multiple aria-label="multiple select example" name="stock_list">
                {% for stock in stock_list %}
                    <option>{{stock}}</option>
                {% endfor %}
            </select>
            <div class="d-grid gap-2 mt-5">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
    </div>

{% endblock maincontent %}